* {
  margin: 0;
  padding: 0;
  outline: 0;
  appearance: 0;
  border: 0;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  font-size: 1rem;
  font-family: "Urbanist", sans-serif;
  /* overflow: auto; */
  scroll-behavior: smooth;
}

body {
  /* font-family: 'Poppins', sans-serif; */
  font-size: 0.88rem;
  -webkit-user-select: none;
  user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

ul, li {
  list-style: none;
}

#error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}